pytest~=8.3.2
fastapi~=0.111.1
email-validator
python-dotenv~=1.0.1
requests~=2.32.3
pydantic~=2.8.2

psycopg2-binary
sqlalchemy~=2.0.31
sqlmodel~=0.0.21

fastapi-pagination

uvicorn~=0.30.3
curlify
pytest
voluptuous
pytest-voluptuous